<div class="user-signup">
  <img src="<%= "/user_images/login.jpg" %>" class="signup-title">
  <div class="login-error">
    <%= @error %>
  </div>
  <%= form_tag("/login") do %>
    <div class="signup-form">
      <input type="text" name="name" placeholder="名前を入力してください" class="signup-name">
      <input type="password" name="password" placeholder="パスワードを入力してください" class="signup-password">
      <input type="submit" value="送信" class="signup-submit">
    </div>
  <% end %>
</div>