<div class="destroy-really">
  <h1>ログアウトしますか？</h1>
  <div class="destroy-choices">
    <div class="destroy-go">
      <%= link_to("はい", "/logout") %>
    </div>
    <div class="destoroy-none">
      <%= link_to("いいえ", "/posts/index") %>
    </div>
  </div>
  <img src="<%= "/top_image/nikibikun.JPG" %>">
</div>