<div class="about-wrapper">
  <div class="about-item">
    <h3><em>ニキビ連合とは</em></h3>
    <p>ニキビ連合とは、ニキビに悩む中高生が意見交換をする掲示板です。自分自身も中高生の時にニキビに悩んでおり、
    インターネットで様々なニキビ治療法を調べましたが、出て来るのはスキンケア用品や、サプリメントの紹介ばっかで、
    なんだか人間味がなくて寂しいなぁと感じていました。そこで、ニキビに悩む中高生が気軽に意見交換できる場を作ろうと思い、この「ニキビ連合」と言う掲示板を作りました。
    ニキビに関する悩み。自分なりのニキビ治療法。書き込みは「ニキビに関すること」ならなんでもokです。自分以外にもニキビに悩んでる同世代がいて、
    自分と同じように、ニキビを治すために試行錯誤を繰り返している仲間がいる。と、この掲示板で知ってもらうことで、ニキビを治すためのモチベーションをあげてもらえたらとても嬉しいです。</p>
  </div>
</div>