<div class="about-wrapper">
  <div class="about-item">
    <h3><em>ニキビ連合軍とは</em></h3>
    <p>ニキビ連合軍とは、ニキビに悩む中高生が気軽に意見交換できる掲示板です。自分自身も中高生の時にニキビに悩んでおり、
    インターネットでニキビに関することを色々調べましたが、出て来るのはスキンケア用品やサプリメントの紹介ばっかで、
    なんだか人間味がなくて寂しいなぁと感じていました。そこで、ニキビに悩む中高生が気軽に意見交換できる場を作ろうと思い、この「ニキビ連合軍」と言う掲示板を作りました。
    自分が投稿するもよし。人の投稿にコメントするもよし。
    ニキビに関する悩み。自分なりのニキビ治療法。書き込みは「ニキビに関すること」ならなんでもokです。
    最終的には、「一緒に頑張ろうね！」みたいな雰囲気が生まれるといいなぁと考えています。
    この掲示板で、様々な悩みを抱えた同世代がいると知ってもらうことで、
    1人で悩んで不安だった毎日に、少しでも安心が生まれ、いい方向に進めるパワーが生まれると、とても嬉しいです。</p>
  </div>
</div>