<div class="post-show">
  <div class="show-post">
    <div class="show-title">
      <%= @post.title %>
    </div>  
    <div class="show-list">
      <%= link_to("編集", "/posts/#{@post.id}/edit") %>
      <%= link_to("削除", "/posts/#{@post.id}/destroyreally") %>
    </div>
    <div class="show-content">
      <%= @post.content %>
    </div>
  </div>
</div>